.activity-browser .toolbar {
    -fx-padding: 10;
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, white 0%, #e6e6e6 100%);
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #b6b6b6;
}

.content {
    -fx-padding: 10;
}

.content .button {
    -fx-text-fill: #e4f3fc;
    -fx-font: 16pt "Tahoma Bold";
    -fx-padding: 4;
    -fx-base: #2d4b8e
}

.content .button:hover{
    -fx-base: #395bae;
}

.content .title {
    -fx-text-fill: #2365b4;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.content .hyperlink {
    -fx-text-fill: #2365b4;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-cursor: hand;
}

.content .hyperlink:hover {
    -fx-underline: true;
}

.content .hyperlink:focused {
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.content .hyperlink:visited {
    -fx-text-fill: #2365b4;
}




.list-view,
.list-view:focused {
    -fx-border-width: 1;
    -fx-border-color: #c2d8f3;
    -fx-border-radius: 5;
    -fx-background-insets: 0;
}

.list-cell {
    -fx-border-color: #c2d8f3;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: white;
}

.list-cell:odd {
    -fx-background-color: derive(-fx-control-inner-background,-5%);
}

.list-cell:filled:hover {
    -fx-background-color: -fx-cell-hover-color;
}

.list-cell:empty {
    -fx-background-color: white;
    -fx-border-width: 0;
}

.search-contacts .company {
    -fx-padding: 0 0 0 10;
    -fx-text-fill: #666666;
}
